<div class="row">
    <div class="row">
        <h1>ctions</h1>

        <table>
            <tr>
            <th>Type</th>
            <th>Price</th>
            <th>When</th>
            </tr>
            {{#each actions}}
            <tr>
            <td>{{Type}}</td>
            <td>{{cost}}</td>
            <td>{{time}}</td>
            </tr>

            {{/each}}
        </table>
    </div>